.FavoriteDayOverView {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
}

.min_temp {
  color:rgb(83, 83, 83)
}

@media (max-width: 700px) {
  .DayDataOverview {
    margin: 0;
    padding: 0;
  }
}